.badge {
	position: relative;
	display: inline-block;
	border-radius: 8px;
	width: 30px;
	height: 30px;
	transform: rotate(-45deg);

	&::before {
		content: "";
		position: absolute;
		left: -1px;
		right: -1px;
		top: -1px;
		bottom: -1px;
		border: 4px solid transparent;
		border-radius: 8px;
	}

	@each $name, $badge in $badges {
		background: length($badge);

		@each $key, $value in $badge {
			&--#{$name} {
				@if $key == background {
					background: conic-gradient(from 225deg at 94.19% 5.24%, lighten($value, 9%) 0deg, $value 360deg);
				}

				@if $key == border {
					&::before {
						border-color: $value;
					}
				}
			}
		}
	}
}
