section.skills.js-section#skills(data-scroll-section)
	.skills__cover(data-scroll="" data-scroll-speed="0.6")
		img.skills__cover-image.for-desktop(src=`${baseDir}images/design/curve-2.svg` alt="")
		img.skills__cover-image.for-mobile(src=`${baseDir}images/design/curve-2-mobile.svg` alt="")

	.skills__inner(data-scroll="" data-scroll-speed="0.7")
		.container
			.skills__title.title.anim(data-scroll)
				h2 Навыки

			.skills__items.anim.anim--show(data-scroll)
				+skillItem({
					class: 'anim-item',
					name: 'Adobe Creative Suite',
					description: 'Photoshop, Illustrator, InDesign, XD, After Effects'
				})

				+skillItem({
					class: 'anim-item',
					name: 'Prototyping',
					description: 'Sketch, Figma, InVision, Marvel, Principle, Balsamiq'
				})

				+skillItem({
					class: 'anim-item',
					name: 'Additional',
					description: 'HTML, CSS, Google Analytics, Keynote, Miro'
				})

				+skillItem({
					class: 'anim-item',
					name: 'Languages',
					description: 'Conversational English and Native Russian'
				})
